<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>App source code: <a href="https://framagit.org/editide/editide" target="_blank" rel="noopener">https://framagit.org/editide/editide</a></li>
          <li>Website source code: <a href="https://framagit.org/editide/editide.frama.io" target="_blank" rel="noopener">https://framagit.org/editide/editide.frama.io</a></li>
          <li>Privacy: no data collected</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
        <p>License: CC0-1.0</p>
      </div>
    </div>

  </div>

</footer>
