---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.subtitle }}</h1>
  </header>

  <p class="back-link">&lt; <a href="{{ page.back }}">Back</a></p>

  <div class="post-content">
    {{ content }}
  </div>

  <p class="back-link">&lt; <a href="{{ page.back }}">Back</a></p>

</article>
